<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="addr" value="net.tcp://localhost:8733/Design_Time_Addresses/JetterCommServiceLibrary/Service1/" />-->
    <add key="addr" value="net.tcp://Ironman:7733/Design_Time_Addresses/JetterCommServiceLibrary/Service1/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyBehavior" name="JetterCommServiceLibrary.JetterCommService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="JetterCommServiceLibrary.IJetterCommService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/JetterCommServiceLibrary/Service1/" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceThrottling maxConcurrentSessions="10000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="00:00:01">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>