<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding">
          <reliableSession enabled="true"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="JetterCommServiceLibrary.JetterCommService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding"
          contract="JetterCommServiceLibrary.IJetterCommService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <!-- pwb: This site was helpful in getting the mex (and thefore the "Update Service Reference") working over tcp: http://stackoverflow.com/questions/15270680/add-service-reference-when-using-nettcp-binding-->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />

        <!-- pwb: The host elemnt below has to be present to get the mex and "Update Service Reference" client interface update tool to work. --> 
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://Ironman:7733/Design_Time_Addresses/JetterCommServiceLibrary/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
