<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="" address="net.tcp://localhost:22222/chatservice" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="IChat"/>
    </client>
    <bindings>
      <netTcpBinding>
        <!--<binding name="DuplexBinding" sendTimeout="00:00:05"> @@@@ Change timeout from 5 seconds what is below for debugging -->
        <binding name="DuplexBinding" sendTimeout="00:05:00">
          <reliableSession enabled="true"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
